<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <footer th:fragment="common_footer">
        <div class="footer">
            <footer class="footer">
                <div class="container">
                    这是一个可以在线考试的网站，欢迎加入！！！
                    <br/><br/><br/>
                    <a href="/admin" target="_blank"> 管理员入口</a>
                </div>
                <div class="info" >
                    <p style="text-align: center;font-size: 16px;">其他信息</p>
                    <ul >
                        <li><a href="/">关于本站</a></li>
                        <li><a href="/">联系我们</a></li>
                    </ul>
                </div>
                <div class="info">
                    <p style="text-align: center;font-size: 16px;">统计信息</p>
                    <ul >
                        <li>注册人数: -</li>
                        <li>在线人数: -</li>
                    </ul>
                </div>
            </footer>
        </div>
    </footer>
</head>
</html>