<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlu.j2ee.mapper.StudentMapper">

    <select id="getUserByUsernameAndPwd" resultType="com.jlu.j2ee.domain.Student">
        select * from student where username=#{username} and password=#{password}
    </select>

</mapper>